$baseFontSize: 14px;
$imgDir: "../img/";
$brandColor0: red;
$brandColor1: #f00;
// MEMO: false not export
// $debugMode: true;
$debugMode: 30;
$animals: cat, dog, tiger;

$totalWidth: 940px;
$columnCount: 10;